<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My shop {% endblock %}1</title>

    <style>
        body{
            font-family:Arial,sans-serif;
            background:#f9f9f9;
            margin:0;
            padding:0;
        }
        table{
            border-collapse:collapse;
            width:100%;
            margin:20px 0;
        }
        th,td{
            border:1px solid #ddd;
            padding:8px;
            text-align:center;
        }
        th{
            background-color:#f2f2f2;
        }
    </style>

</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>